name: Run linting
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.1
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Run ESLint
        run: npm run lint
